
.vs/NetChat/v16/.suo
.vs/NetChat/v16/Server/sqlite3/storage.ide
.vs/NetChat/v16/Server/sqlite3/storage.ide-shm
.vs/NetChat/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
